[submodule "External/Vulkan-Headers"]
	path = External/Vulkan-Headers
	url = git@github.com:KhronosGroup/Vulkan-Headers.git
[submodule "External/volk"]
	path = External/volk
	url = git@github.com:zeux/volk.git
